schedule1.aux
schedule1.fdb_latexmk
schedule1.fls
schedule1.log
schedule1.out
schedule1.toc
._wordcount_selection.tex
.vscode/ltex.disabledRules.en-AU.txt
svg-inkscape/CSLogo_svg-tex.pdf_tex
schedule1.synctex.gz
main.toc
main.synctex.gz
main.out
main.log
main.fls
main.fdb_latexmk
main.aux
