._wordcount_selection.tex
main.aux
main.fdb_latexmk
main.fls
main.log
main.out
main.toc
schedule1.aux
schedule1.fdb_latexmk
schedule1.fls
schedule1.log
schedule1.out
schedule1.toc
svg-inkscape/CSLogo_svg-tex.pdf
svg-inkscape/CSLogo_svg-tex.pdf_tex
main.synctex.gz
